@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
{
    margin: 0;
    font-family: 'Montserrat', 'Sanserif';
}
h2{
    font-size: 24px;
}
h3{
    font-family: 18px;
    font-weight: 400;
}
#Inicio{
    height: 70vh;
    widows: 100%;
}
.navegacion{
    height: 10vh;
}
.navItem{
    list-style: none;
    font-weight: 600;
}
.navItem{
    color: rgba(6, 224, 133, 0.747);
}
.navItem:hover a{
    color: #9acd;
    cursor: pointer;
}
#portada{
    height: 75vh;
    color: #fff;
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
}
.portadaImagen{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 14px 18px 30px 1px rgba(0,0,0,0.63);
}
#sobreMi{
    height: 30vh;
    background-color: rgba(10, 166, 172, 0.781);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    text-align: center;
    color: #fff;
}
#sobreMi h2{
    margin-bottom: 10px;
}
#proyectos{
    padding-top: 8%;
    text-align: center;
}
.proyectoTitulo h2{
    color: rgba(10, 166, 172, 0.781);
}
.proyectoTitulo h3{
    color: #9b9b9b;
    margin: 8px 0;
}
#contacto{
    margin-top: 8%;
    background-color: #455a;
    text-align: center;
    color: #fff;
    padding: 5% 10%;
}
.contactoSubtitulo{
    margin: 8px 0;
}
.filaSuperior{
    margin-top: 2%;
    margin-bottom: 3%;
}
.filaSuperior input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #37474f;
}
input, textarea{
    color: #fff;
    font-size: 18px;
    padding: 2px 4px 2px 6px;
}
#btnEnviar{
    border: 0;
    margin-top: 3%;
    height: 50px;
    width: 215px;
    background-color:rgba(10, 166, 172, 0.781);
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    background-color: #052a3d;
    color: #fff;
    text-align: center;
    padding: 5% 10%;
}